@{
    ViewData["Title"] = "Email Change Result";
    bool emailSendSuccessfully = (bool)ViewData["EmailSendSuccessfully"]!;
}

@if (emailSendSuccessfully)
{
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card shadow p-3" style="background-color:white;">
                <div class="text-center">
                    <img class="card-img-top img-fluid" style="max-width:100px; max-height:100px;" src="~/images/blueTickTransparent.png" alt="success image">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center mb-3">Email Change Confirmation Successfully Sent!</h3>
                    <p class="card-text text-center">
                        A confirmation email has been successfully sent to your new email!<br>
                        For your account re-activation you will have to check your email inbox and confirm your email change by clicking the confirmation link we have sent you.<br>
                        If you face any issues re-activating your account you can contact us through our email kinnaskonstantinos0@gmail.com .
                    </p>
                    <div class="d-flex justify-content-center mt-4">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-primary">Continue To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 mt-4">
            <div class="card shadow p-3" style="background-color:white;">
                <div class="text-center">
                    <img class="card-img-top img-fluid" style="max-width:100px; max-height:100px;" src="~/images/redXTransparent.png" alt="success image">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center mb-3">Email Change Was Unsuccessful!</h3>
                    <p class="card-text text-center">
                        Unfortunately it seems that something something went wrong!<br>
                        Please make sure that your internet connection is stable and then try again.
                    </p>
                    <div class="text-center mt-4">
                        <a asp-controller="Account" asp-action="EditAccount" class="btn btn-lg btn-primary">Return to Account Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}