@model ResetPasswordModel;

@{
    ViewData["Title"] = "Reset Password Form";
}

<div class="row">
    <div class="shadow offset-1 col-10 col-md-6 offset-md-3 col-xl-4 offset-xl-4 p-4" style="background-color:white;">
        <form asp-controller="Account" asp-action="ResetPassword">
            <h2 class="text-center mb-4">Reset Password</h2>
            <div class="form-group mb-3">
                <label asp-for="@ViewData["Username"]" class="form-label"><i class="fa-solid fa-user me-2"></i>Username</label>
                <input asp-for="@ViewData["Username"]" class="form-control" disabled />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"><i class="fa-solid fa-lock me-2"></i>Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="ConfirmPassword" class="form-label"><i class="fa-solid fa-lock me-2"></i>Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />
            <input type="hidden" asp-for="Token" value="@ViewData["Token"]" />
            <div class="form-group text-center">
                <button type="submit" onclick="EnableUsername()" class="btn btn-primary btn-lg btn-block">Confirm Changes</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function EnableUsername() {
            document.getElementById("Username").removeAttribute("disabled");
        }
    </script>
}