@{
    ViewData["Title"] = "Reset Password Result";
    bool emailSendSuccessfully = (bool)ViewData["EmailSendSuccessfully"]!;
}

@if ((bool)ViewData["EmailSendSuccessfully"]!)
{
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card shadow p-3" style="background-color:white;">
                <div class="text-center">
                    <img class="card-img-top img-fluid" style="max-width:100px; max-height:100px;" src="~/images/blueTickTransparent.png" alt="success image">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center mb-3">Authentication Successful!</h3>
                    <p class="card-text text-center">
                        An email with the link to reset your password has been sent to your account.<br>
                        You could reset your password by clicking that link and following its instructions.<br>
                    </p>
                    <div class="text-center mt-4">
                        <a asp-controller="Account" asp-action="SignIn" class="btn btn-lg btn-primary mr-3">Return to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 mt-4">
            <div class="card shadow p-3" style="background-color:white;">
                <div class="text-center">
                    <img class="card-img-top img-fluid" style="max-width:100px; max-height:100px;" src="~/images/redXTransparent.png" alt="success image">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center mb-3">Authentication Unsuccessful!</h3>
                    <p class="card-text text-center">
                        Unfortunately it seems that something something went wrong!<br>
                        Please make sure that your internet connection is stable and then try again to reset your password.
                    </p>
                    <div class="text-center mt-4">
                        <a asp-controller="Account" asp-action="SignIn" class="btn btn-lg btn-primary">Return to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}